body {
  font-family: var(--mainfont);
}

.header {
  padding: 57px 0px;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

/* Start of hero section*/

.hero {
  background-color: #f2f0ff;
  padding: 70px 0px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 60%; /* grow shrink base*/

}

.text-contant{
flex: 1 0 60%;
}



.hero-content .hero-lamp {
  position: relative;
  bottom: 70px;
  left: -44px;
  width: 25%;
}


.text-contant{
  display:flex;
  flex-wrap: wrap;
  gap:15px;
}

.text-contant h1{
color:#000000;
}

.text-contant .paragraoh-one {
color:var(--maincolor);
}

.text-contant .paragraoh-two{
color:#8A8FB9;
}




.hero-image {
  flex: 1 0 30%; /* grow shrink base*/
}

.hero-image img {
  width: 100%;
}




@media screen and (max-width: 1250px) {
  .hero-content .hero-lamp{
   display: none;
  }

  .text-contant
  {
    align-items: center;
    justify-content: center;
  }

}

@media screen and (max-width: 1400px) {
  .hero-content .text-contant{
   gap:50px;
  }
}

@media screen and (max-width: 970px) {
  .hero .row{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  

}

/* end of hero section*/

/* Start of featured-products*/

.products{
   position:relative;
}

.featured-products {
  padding: 150px 0px;
}

.featured-products h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #1a0b5b;
}

.featured-products .row {
  justify-content: flex-start;
  gap: 30px;
}

.featured-products .products {
  margin-top: 50px;
  flex-grow: 1;
  flex-basis: 250px; /*To make Responsive without i am actually did*/
  flex-shrink: 0;
  box-shadow: 0px 0px 25px #0000001a;
  border-radius: 5px;
  transition: all 0.6s;
  position: relative;
 
}

.badge-sale {
  position: absolute; /*should to his parent position:relative!! (his parent:products.)*/
  top: 15px;
  left: 10px;
}

.featured-products .products .img {
  background-color: #f6f7fb;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  border-radius: 5px;
  object-fit: contain; /* حتى ما تبين الصورة مش طبيعية (ممطوطة )*/
 
  
  }

.featured-products .icons {
  display:none;
  position:absolute;
  top:120px;
  left:10px;
}
 
.products:hover .icons{
  display: flex;
  flex-direction: column;
   gap:15px;
}


.icon:active{
  width: 25px;
  height: 25px;
  border-radius: 50%;
background-color: #dc7fec;
}


.btn-viewdetails{
  position:relative;
}

 .btn-viewdetails {
  position:absolute;
  top:200px;
  left:65px;
  display:none;
}

.products:hover .btn-viewdetails{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.products:hover .img-btn{
  display: flex;
  flex-direction: column;
  gap:20px;
}


.featured-products .prouduct-details {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color {
  width: 20px;
  height: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.color-one {
  background-color: #05e6b7;
}

.color-two {
  background-color: #f701a8;
}

.color-three {
  background-color: #00009d;
  transition: all 0.6s;
}

.prouduct-details h3 {
  transition: all 0.6s;
}

.product-info {
  transition: all 0.6s;
}

.products:hover .prouduct-details {
  background-color: #2f1ac4;
  border-radius: 5px;
}

.products:hover .color-three {
  background-color: #ffeac1;
}

.products:hover .product-info {
  color: #fff;
}

.products:hover .prouduct-details h3 {
  color: #fff;
}






/* end of featured-products*/


/*start of Leatest Products*/

.leatest-products {
  padding: 100px 0px;
}

.leatest-products h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #1a0b5b;
}

.leatest-products .leatest {
display:flex;
gap:60px;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding:30px 0;
color:#151875;
}



.leatest-products .leatest p:hover {
  text-decoration: underline;
  color:var(--maincolor);
   transition: all 0.6s;
}


.products-leatest{
   position:relative;
  justify-content: flex-start;
  gap: 30px;
}

.leatest-products .row {
  justify-content: flex-start;
  gap: 30px;
}

.leatest-products .products-leatest {
  margin-top: 50px;
  
  box-shadow: 0px 0px 25px #0000001a;
  border-radius: 5px;
  transition: all 0.6s;
  position: relative;
   width:calc((100% - 60px ) /3);
   flex:flex;
   flex-wrap: wrap;
}


.leatest-products .products-leatest .img {
  background-color: #f6f7fb;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0px;
  border-radius: 5px;
  object-fit: contain; /* حتى ما تبين الصورة مش طبيعية (ممطوطة )*/
 
  }


  .leatest-products .icons {
  display:none;
  position:absolute;
  top:150px;
  left:10px;
}
 
.products-leatest:hover .icons{
  display: flex;
  flex-direction: column;
   gap:15px;
}


.products-leatest:hover .btn-viewdetails{
  display: flex;
  flex-direction: column;
  gap:20px;
  top:297px;
  left:108px;


}

.products-leatest:hover .img-btn{
  display: flex;
  flex-direction: column;
  gap:20px;
  top:350px;
  left:20px;
}



@media screen and (max-width:900px){

  .leatest-products .row {
  justify-content: flex-start;
  gap: 15px;
}

  .leatest-products .products-leatest {
    width:calc((100% - 15px) / 2);
    align-items: center;
    justify-content: center;
  }

  
}


@media screen and (max-width:630px){

  .leatest-products .row {
  justify-content: flex-start;

}

  .leatest-products .products-leatest {
    width:100%;
    align-items: center;
    justify-content: center;
  }

  
}
  

.end-leatest {
   
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:10px;
  color:#151875;
}   

.span-leatest{
color:#FB2448;
text-decoration:line-through;
}

















/*end of Leatest Products*/

/*start of newsletter*/
.newsletter {
  background: url("../images/products/newsletter.webp");
  padding: 175px 0px;
  text-align: center;
  background-attachment: fixed;
}

.newsletter h2 {
  margin-bottom: 50px;
  color: #151875;
  font-size: 35px;
}

.shop-btn {
  transition: all 1s;
}

.shop-btn:hover {
  background-color: #151875;
}

/*end  of newsletter*/

/*start of clieant*/

.clients {
  padding: 50px 0px;
}

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
}

.clients .logo {
  width: calc((100% - 75px) / 6);
}
.clients img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }

  .clients .row {
    overflow-x: auto;
  }
}

/*end  of clieant*/

.footer .left-side {
  width: calc((100% - 30px) / 2);
  gap: 35px;
  align-items: flex-start;
}

.footer .search form {
  border-radius: 5px;
  width: 400px;
}
.footer button {
  padding: 10px 40px;
}

.address-info {
  padding: 36px 0px;
  color: #8a8fb9;
}

.footer .left-side .row {
  align-items: flex-start;
}
.footer .right-side {
  width: calc((100% - 30px) / 2);
}
.footer .right-side .row {
  gap: 45px;
}

.footer-item {
  width: calc((100% - 90px) / 3);
}
.footer a {
  color: #8a8fb9;
}

@media screen and (max-width: 990px) {
  .footer .right-side .row,
  .footer .left-side .row {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .footer-item {
    width: 100%;
  }
}
